HA_URL="http://10.0.0.5:8123"
HA_TOKEN="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiI5MTU5MjBlZWU5Y2U0NmYxODdkMTA2YjQ3YjQwMmUzNSIsImlhdCI6MTc3MTE0NzY3NCwiZXhwIjoyMDg2NTA3Njc0fQ.4lUEgVB8mHveTrAmwdyOxXAfgzehuZ4yJ0A6XV3vFD4"
ENTITY="climate.mitsubishi_matouch_matouch_58_52_8a_c0_e1_73"
